__pycache__/
**/__pycache__/
*.pdb
*.log
*.cxc
/md_workflows.egg-info/
*.parm7
*.top
*.in
*.rst7
*.txt
amber_to_gromacs.py
pdb_clean_amber_sslink
prot_dry_sslink
*.edr
*.gro
*.tpr
*.trr
*.1#
.local/
.config/
.cache/
waterbox/
.bash_history/
*.2#
*.itp
part00*
mdout.mdp
*.xtc
.bash_history
*.cpt